alacritty/alacritty-themes/
alacritty/colorschemes/
alacritty/colors/
zoom*
Code/
Slack/
Electron/
JetBrains/
Kingsoft/
nvm/
Unknown Organization/
autostart/
cef_user_data/
gdb/
nvim/plugin/
QtProject.conf
fish/
libfm/
matplotlib/
monsoon/
qtile/
pulse/
qutebrowser/
tym/
wmctrl/
zathura/
discord/
pcmanfm/
libfm/
lf/
htop/
mimeapps.list
procps/
zsh/plugin
glib-2.0/
nody-greeter/

